.compras {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 10px;
    
}

.cardCompras{
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(107, 99, 138);
    color: white;
}
.cardCompras:hover{
    background-color: rgb(236, 236, 236);
    color: rgb(38, 39, 65);
    cursor: pointer;
}


