.compras {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 10px;
    
}

.cardCompras{
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(101, 163, 142);
    color: white;
}
.cardCompras:hover{
    background-color: rgb(50, 65, 61);
    color: white;
    cursor: pointer;
}


