.formNovaCompra{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 500px;
    gap: 10px;
    margin: 20px;
    background-color: rgb(177, 202, 194);

}

.formNovaCompra > input, select{
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

#cadastrar{
    background-color: rgb(74, 105, 95);
    color: white;
    font-size: large;
}