.containerForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 20px;
}
.formNovaCompra{
    border-radius: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    min-width: 230px;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    height: 500px;
    gap: 10px;
    margin: 20px;
    padding: 40px;
    background-color: rgb(224, 236, 232);
    box-shadow: 2px 1px 1px 1px rgb(109, 116, 114);

}

.divInput{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight:bold;
    text-align: center;
    /* border: 1px solid black; */
}
.divInput > input, select{
    border: none;
    width: 70%;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 1px 1px 1px rgb(109, 116, 114);
    
    /* border: 1px solid black; */

}
button{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: rgb(59, 129, 59);
    color: white;

}
