* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
  text-decoration: none;
}
a {
  color: inherit;
}

.App {
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "header header" "aside content";
    background-color: rgb(238, 236, 232);
    border: 1px solid black;

}
